<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="maxHotelId" value="2000000"/>
		<add key="maxDurationDays" value="30"/>
		<add key="maxStars" value="8"/>
		<add key="maxRooms" value="15000"/>
		<add key="email" value="mailto:matzarapisg@outlook.com.gr"/>
		<add key="linkedin" value="https://www.linkedin.com/in/georgios-matzarapis/"/>
		<add key="gitlab" value="https://gitlab.com/georgematzarapis"/>
		<add key="facebook" value="https://www.facebook.com/giorgos.matzarapis/"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>